<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'clothing/styles.css' %}">
    <title>{% block title %} {% endblock title %} lowCost</title>
</head>

<body>
    <nav>
        <div class="top_bar_nav">
            <h1>
                <a class="brand_name" href="{% url 'clothing:index' %}">lowCost</a>
            </h1>

            <div class="cloth_search_form_wrap hide-form">
                <form action="{% url 'clothing:handle_cloth_search' %}" method="POST" class="cloth_search_form">
                    {% csrf_token %}
                    <input type="text" name="cloth_name" id="id_cloth_name" placeholder="Enter name of cloth" required>
                    <input type="submit" value="Find">
                </form>
            </div>
            <div class="navbar-icons">
                    <span>
                        <a class="icon" id="cart-basket" href="{% url 'cart:cart_list' %}">
                            <i class="fas fa-shopping-basket"></i>
                            <p class="cart-item-count">{{ request.session.cart_item_count }}</p>
                        </a>
                    </span>
    
                    <span>
                        <a href="#" class="icon toggle-search-form">
                            <i class="fas fa-search"></i>
                        </a>
                    </span>
                    
                    <span>
                        <a href="#" class="icon" id="toggle-user-nav">
                            <i class="fas fa-user"></i>
                        </a>
                    </span>
                    <div class="profile-nav">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="logout-btn">logout</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="login-btn">login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bottom_bar_nav">
                <a href="{% url 'clothing:cloth_list' %}">all clothes</a>
                {% if request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'clothing:create_cloth' %}">add cloth</a>
                {% endif %}
            </div>
    </nav>


    <main class="wrapper">
        {% block content %}

        {% endblock content %}

        <section class="blog_latest">
            <article>
                <h4 class="title">How to have fab dress collection</h4>
                <p>
                    Donne de et le de volupté parce dont dit pleurs d'un,
                    genoux quel pour tete qu'un d'athlete. Fait de et cette
                    mensonge mettrait haut l'elégance, yeux la beauté un
                    aussi qu'elle. Le masque extase monstre mon mal
                </p>
                <a href="">read more</a>
            </article>

            <article>
                <h4 class="title">Killer dress patterns for the year</h4>
                <p>
                    Donne de et le de volupté parce dont dit pleurs d'un,
                    genoux quel pour tete qu'un d'athlete. Fait de et cette
                    mensonge mettrait haut l'elégance, yeux la beauté un
                    aussi qu'elle. Le masque extase monstre mon mal
                </p>

                <a href="">read more</a>
            </article>
        </section>
    </main>
    <script src="{% static 'clothing/fontawesome-all.js' %}"></script>
    <script type="text/javascript">
        let bottom_bar_nav = document.querySelector('.bottom_bar_nav');
        let nav = document.querySelector('nav');
        let icons = document.querySelectorAll('.icon');



        window.addEventListener('scroll', (e) => {
            if (window.scrollY >= 70){
                bottom_bar_nav.style.display = "none";
                nav.style.backgroundColor = "#000";
                icons.forEach((icon) => {
                    icon.style.color = '#fff';
                });
            }

            if (window.scrollY < 70){
                bottom_bar_nav.style.display = "flex";
                nav.style.backgroundColor = "#fff";
                icons.forEach((icon) => {
                    icon.style.color = '#000';
                });
            }
        });


        let cloth_search_form_wrap= document.querySelector('.cloth_search_form_wrap');
        let toggle_search_form = document.querySelectorAll('.toggle-search-form');
        
        
        const toggle_searchFormVisibility = (event) => {
            event.preventDefault();
            cloth_search_form_wrap.classList.toggle('hide-form');
        }

        toggle_search_form.forEach((toggler) => {
            toggler.addEventListener('click', toggle_searchFormVisibility);
        })
    </script>

    {% block script %}

    {% endblock script %}
</body>

</html>