{% extends 'clothing/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} Update cloth - {% endblock title %}
{% block content %}
 
 
 
<h2>Update cloth</h2>
    <form id="cloth_update_form" enctype="multipart/form-data" action="{% url 'clothing:update_cloth' form.instance.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form fied_class='form-group' layout="horizontal"  %}
        {% buttons submit="Update" %}{% endbuttons %}
 
    </form>
 
{% endblock content %}