{% extends 'clothing/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} Create cloth - {% endblock title %}
{% block content %}
 
<h2 class="text-center mb-4">Create cloth</h2>
<form id="cloth_creation_form" enctype="multipart/form-data" action="{% url 'clothing:create_cloth' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form cloth_form fied_class='form-group' layout="horizontal"  %}
    {% buttons submit="Create" %}{% endbuttons %}
</form>
 
{% endblock content %}