{% extends 'clothing/base.html' %}
{% load static %}
{% block title %} lowCost - {% endblock title %}
{% block content %}
 
<div class="jumbotron my-3">
    <h1>lowCost</h1>
    <p class="lead">Now you can buy quality product at a very low cost. Search for product below</p>
    <form class="form-inline my-2" action="{% url 'clothing:handle_cloth_search' %}" method="GET">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" name="cloth_name" id="id_cloth_name"
               placeholder="Enter cloth name" aria-label="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="search">
    </form>
</div>
 
{% if cloth_list %}
<div class="row">
    {% for cloth in cloth_list %}
    <div class="col my-1">
        <div class="card">
            <img src="{{ cloth.image.url }}" alt="{{ cloth.name }}" style="height: 320px;">
            <div class="card-body text-center">
                <h4>{{ cloth.name }}</h4>
                <p>{{ cloth.material_type }}</p>
                <p>£ {{ cloth.price }}</p>
                <a href="{% url 'clothing:cloth_detail' cloth.id %}" class="btn btn-primary">view details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
 
 
<div class="text-center my-4">
    <a href="{% url 'clothing:cloth_list' %}" class="btn btn-md btn-success btn-block">Load More</a>
</div>
 
{% endblock content %}