html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
 
body {
  padding-top: 56px;
  font-family: gf-sanpro;
  background-color: black;
}
 
.fa, .fas  {
  font-size: 20px !important;
}
 
@media screen and (max-width: 620px){
  .fa, .fas {
    font-size: 28px !important;
  }
}
 
.shopping-cart {
  position: fixed;
  right: 10px;
  top: 90px;
  text-align: right;
  z-index: 1;
}
 
.shopping-cart .cart {
  font-size: 20px !important;
}

.btn-dark {
  background-color: black!important;
}

.btn-outline {
  color: black!important;
}




@media (max-width: 999.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: purple;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
 
.bg-dark {
  background-color: #060606!important;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
 
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
 
.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #060606;
}
 
.nav-underline .nav-link:hover {
  color: black;
  }
 
.nav-underline .active {
  font-weight: 500;
  background-color: black;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
}
 
.text-white-50 { color: rgba(255, 255, 255, .1); }
 
.bg-purple { background-color: #6f42c1; }
 
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.media-body {
  margin-right: 10px;
}


.blog-footer {
  padding: 2.5rem 0;
  color: #fff;
  text-align: center;
  background-color: #060606;
  border-top: .05rem solid #e5e5e5;
  line-height: 1.0;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  }

.form-control {
  border-radius: 2rem;
}



#jumbo{
  background: rgba(194, 183, 183, 0.5);
  color: rgba(255, 255, 255);
  position: relative;
  padding: 50px;
}

.inner{
  color:rgb(250,250,250);
  opacity: 1;
}

body{
  padding-top: 75px;
}

.hero {
  text-align: right;
}
.img-fluid {
  width: 1000;
  height: 500;
}
