/** universal styles **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}


a {
    text-decoration: none;
    color: #000;
}

input{
    padding: 8px;
    border: .5px solid #ccc;
    outline: none;
}


input[type='text']{
    font-size: 16px;
}
/** end of universal styles **/


/** navbar styles **/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

nav .top_bar_nav{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .bottom_bar_nav {
    background: #000;
    padding: 8px 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .bottom_bar_nav a {
    color: #ff94db;
    font-size: 16px;
}

nav .top_bar_nav .navbar-icons  {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

nav .top_bar_nav .navbar-icons .cart-item-count {
    position: relative;
    bottom: 25px;
    right: 14px;
    font-size: 12px;
    padding: 2px;
    background-color: rgb(238, 148, 148);
    border-radius: 8px;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width: 970px){
    nav .bottom_bar_nav,
    nav .top_bar_nav     {
        width: 920px;
        margin: 0 auto;
    }
}


nav .brand_name {
    color: #ff06ac;
    font-size: 24px;
}


nav input[type='submit']{
    font-size: 18px;
}

nav .hide-form {
    display: none;
}

nav .cloth_search_form_wrap {
    position: absolute;
    width: 100%;
    padding: 4px;
    background: white;
    z-index: 2;
    top: 0px;
    right: 0px;
}

nav  .cloth_search_form {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 920px){
    nav .cloth_search_form {
        width: 920px;
        margin: 0 auto;
    }
}

nav .cloth_search_form input[type='text']{
    width: 76%;
    border-radius: 5px;
    transition: all .5s ease-in;
}


/* @media screen and (min-width: 670px){
    nav .cloth_search_form input[type='text']{
        width: 270px;
        border: 1px solid #ccc;
        border-radius: 0px;
    }
} */


nav .cloth_search_form input[type='submit']{
    background: #c42dff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/** end of navbar **/


/** main hero styles **/

main {
    padding: 180px 18px;
}

@media screen and (min-width: 970px){
    main {
        width: 920px;
        margin: 0 auto;
    }
}


main .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

main .hero div {
    margin-top: 18px;
}

main .hero div img {
    width: 250px;
    height: 250px;
}

@media screen and (min-width: 670px){
    main .hero {
        flex-direction: row;
    }

    main .hero h1 {
        font-size: 38px;
    }

    main .hero div img {
        width: 450px;
        height: 450px;
    }
}
/** end of main hero styles **/


/** main trending styles **/
main .trending {
    margin-top: 80px;
}

main .trending .title {
    text-align: center;
    color: #c42dff;
}

main .trending .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

main .trending .content .img_wrap img {
    width: 180px;
    height: 180px;
}


@media screen and (min-width: 670px){
    main .trending .content .img_wrap img {
        width: 420px;
        height: 420px;
    }
}


main .trending .content .wrap {
    text-align: center;
}

@media screen and (min-width: 670px){
    main .trending .content .wrap  h3 {
        font-size: 34px;
    }
}
/** end of main trending styles **/


/** main quick_list styles **/

main .quick_list .cloth-list {
    padding: 70px 0;
}

main .quick_list .view_all_wrap {
    text-align: center;
}

main .quick_list #view_all {
    padding: 8px;
    text-align: center;
    border: 1px solid #c42dff;
    background: transparent;
    transition: .4s ease-in;
}

main .quick_list #view_all:hover {
    background: #c42dff;
}
/** end of main quick_list styles **/


/** main blog_latest styles **/

main .blog_latest {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 670px){
    main .blog_latest {
        flex-direction: row;
    }
}

main .blog_latest article {
    margin: 24px 0;
    width: 320px;
}

main .blog_latest article .title {
    margin-bottom: 10px;
}

main .blog_latest article p {
    margin-bottom: 10px;
}

main .blog_latest article a {
    color: #b00978;
    font-weight: 550;
}

/** end of main blog_latest styles **/


.wrapper h2 {
    text-align: center;
    font-size: 34px;
    color: #b00978;
}


/** cloth listing **/
.cloth-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 320px));
    grid-gap: 14px;
}

.cloth-list .cloth {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

.cloth-list .cloth img {
    width: 100%;
}


.cloth-list .cloth-action-btns a {
    display: block;
}


.cloth-list .cloth-action-btns {
    margin-top: 15px;
    justify-content: space-around;
    text-align: center;
    display: flex;
    font-size: 16px;
}

.cloth-list .delete-btn {
    color: red;
}

.cloth-list .details-btn {
    color: #75a9d4;
}

.cloth-list .update-btn {
    color: #1fad44;
}

.cloth-list .shop-btn {
    color: #2196F3;
}


@media screen and (max-width: 620px){
    .cloth-list {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    .cloth-list .cloth-action-btns {
        flex-direction: column;
    }
}
/** end of cloth listing **/


/** create cloth form styles **/
#cloth_creation_form label {
    display: block;
    margin-top: 16px;
}


#create_cloth_form input {
    width: 100%;
}

#cloth_creation_form input[type='submit']{

    margin-top: 13px;
    width: fit-content;
    padding: 10px 18px;
    background: #c42dff;
    color: #fff;
}